// RESETTING BOOTSTRAP COMPONENTS & COLORS

.container {
  width: 100%;
  max-width: 75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.bg-primary {
  background-color: $primary !important;
}
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}
.bg-primary {
  background-color: $primary !important;
}
.border-primary {
  border-color: $primary !important;
}
.btn-primary {
  border-color: $primary !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  padding-left: 0;
  margin: 0;
}
html {
  font-size: 100%;
  scroll-behavior: smooth !important;
  scroll-snap-type: proximity;
  scroll-snap-align: center;

  @media (max-width: 450px) {
    font-size: 80%;
  }
}
body {
  line-height: 1.15 !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;

  &.active {
    overflow-y: hidden;
  }
}
a,
a:active,
a:visited,
ul {
  text-decoration: none;
  list-style: none;
  color: inherit !important;
}
p {
  line-height: 1.5;
}
.border-start {
  border-left: 0.4rem solid $primary !important;
}
.portfolio-grid {
  @include portfolioGrid;
}
.img-fluid {
  aspect-ratio: 4/4.3 !important;
}
.nav-item {
  .nav-link {
    font-size: 1.125rem !important;
    color: $secondary;

    &.active {
      color: $primary !important;
    }

    @media (max-width: 768px) {
      font-size: 2.125rem !important;
    }
  }
}
.hoverPrimary {
  &:hover {
    @include hoverEffects();
    background: none !important;
    color: $primary !important;
  }
}
.hoverSecondary {
  &:hover {
    @include hoverEffect();
  }
}
.d-sm-none {
  @media (max-width: 768px) {
    display: none;
  }
}
.drop-shadow {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
}
.btn {
  box-shadow: 0 4px 5px rgba(255, 255, 255, 0.25);
}
.fs-5,
.fs-6 {
  font-size: clamp(1rem + 0.5vh);
}
.btn-outline-primary {
  outline: 1px solid $primary;
}
// Loader

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    width: 80px;
    height: 80px;
    background: #000;
    border-width: 10px;
    border-style: solid;
    border-left-color: $primary;
    border-right-color: rgb(168, 41, 115);
    border-radius: 50%;
    overflow: hidden;
    animation: spin 2s infinite linear;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
