// RESETTING BOOTSTRAP COMPONENTS & COLORS


.bg-primary{
    background-color: $primary !important;
}
.text-primary{
    color: $primary !important;
}
.text-secondary{
    color: $secondary !important;
}
.bg-primary{
    background-color: $primary !important;
}
.border-primary{
    border-color: $primary !important;
}
.btn-primary{
    border-color: $primary !important;
}
*{
    box-sizing: border-box;
}
body{
    line-height: 1.15 !important;
}
a{
    text-decoration: none;
    color: inherit !important;
}

.portfolio-grid{
    @include portfolioGrid;
}