.services {
  background: hsl(266, 78%, 2%);
  .card {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(253, 253, 253, 0.25);

    &:hover {
      @include hoverEffects;

      i {
        background: $secondary !important;
        color: $primary;
      }
    }

    .card-header {
      margin-top: -2.5rem;
      border: none;
    }

    i {
      border-radius: 0.5rem;
      box-shadow: 0 5px 10px rgba(236, 213, 169, 0.253);
    }
  }
}
