.skill {
  background: #0f0e0f;
  .after {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: attr(name) '';
    }
  }

  .progress {
    background: $secondary !important;

    .progress-bar {
      transition: all 2s ease-in-out !important;
      background: $primary;
    }
  }
}
